body {
  width: 100vw;
  height: 100vh;
  position: fixed;
}

#app {
  height: 100%;
  width: 100%
}

#map {
  height: 85%;  /* The height is 400 pixels */
  width: 100%;  /* The width is the width of the web page */
 }

 .map-control {
  background-color: #ccc;
  border: 1px solid #ccc;
  box-shadow: 0 2px 2px rgba(33, 33, 33, 0.4);
  font-family: "Roboto", "sans-serif";
  margin: 10px;
  /* Hide the control initially, to prevent it from appearing
           before the map loads. */
  display: none;
}

/* Display the control once it is inside the map. */
#map .map-control {
  display: block;
}